.list {
  list-style: none;
  display: flex;
  flex-direction: column;

  gap: 5px;
  margin-left: 10px;
  padding-left: 0px;
  margin-top: 20px;
}

.movieLink {
  color: black;
  margin-left: 10px;
}
.movieLink :hover,
:focus {
  color: rgb(236, 19, 19);
}
